table {
    width: 100%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 50px;
}

tbody {
    height: 250px;
    overflow-y: auto;
}

tbody td, thead th {
    width: 33.3%;
    float: left;
}